* {
    box-sizing: border-box;
}

button {
    display: block;
    margin: 20px auto;
    background: green;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}

.popup-wrapper {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 124%;
    z-index: 100;
}

.popup {
    display: block;
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 573px;
    margin: 10% auto;
    background: white;
    position: relative;
    height: 30%;
    animation-duration: 3s;
    animation-name: slidein;
    padding: 20px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 36.4%;

        width: 100%;
    }
}

.popup button {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 23px;
    background: green;
    margin: 35px;
    font-size: 18px;
}

.popup a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 23px;
    background: green;
    margin: 35px;
    font-size: 18px;
}

.popup a:hover {
    color: white;
    text-decoration: none;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.popup-content {
    padding: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popup-content p {
    font-style: normal;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 19px;
    text-align: center;
}

.popup-estrela {
    margin: 0% auto;
}

.popup-estrela img {
    max-width: 360px;
}


.auto_ajuda {
    right: 0;
    position: absolute;
    bottom: 0;
    z-index: 101;
    display: none;
}

.message_tutorial {
    position: absolute;
    margin: 2% 45%;
    z-index: 101;
    background-color: white;
    display: none;
    width: 400px;
    height: 209px;
    padding: 40px;
}
.message_tutorial p {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.message_salvar{
    position: absolute;
    margin: 2% 45%;
    z-index: 101;
    background-color: white;
    display: none;
    width: 380px;
    height: 159px;
    padding: 40px;
}

.message_tutorial button {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 23px;
    background: green;
    margin: 10% auto;
    font-size: 18px;
}

.salva_modelo{ 
    z-index: 101;
    position: relative;
    background-color: white;
}
.salva_modelo h4{
    z-index: 101;
    position: relative;
}

/* Fireworks */
.fireworks {
    position: absolute;
    z-index: 25;
    top: 25%;
    left: 50%;
    margin: -150px 0 0 -170px;
    font-weight: bold;
    font-size: 150%;
    color: red;
    opacity: 0;
}

pre span {
    color: lime;
}

.o {
    color: orange;
}

.rojao {
    display: block;
    font-size: 130%;
    position: absolute;
    bottom: -20px;
    left: 30%;
    z-index: 25;
    color: yellow;
}

/* Solta rojão */
@-webkit-keyframes rojao {
    0% {
        bottom: -20px;
    }

    80% {
        left: 50%;
    }

    81% {
        left: 50%;
        bottom: 70%;
        margin-left: -35px;
        color: yellow;
    }

    82% {
        color: black;
    }

    100% {
        color: black;
    }
}

@keyframes rojao {
    /* idem */
}

.rojao {
    animation: rojao 2s 7s;
    -webkit-animation: rojao 2s 7s;
    -ms-animation: rojao 2s 7s;
}

/* Explode rojão */
@-webkit-keyframes fire {
    0% {
        opacity: 0;
    }

    0.1% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    10.1% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    20.1% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    30.1% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    40.1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.1% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    60.1% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    70.1% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    80.1% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    90.1% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fire {
    /* idem */
}

.fireworks {
    animation: fire 2s 9s;
    -webkit-animation: fire 2s 9s;
    -ms-animation: fire 2s 9s;
}


/*Destacar elementos*/

.destaque_modelos {
    z-index: 100;
    position: relative;
    background-color: white;
    /* padding: 20px;*/
}
